# IDE
.idea/
.vscode/
*.swp
*.swo
*.iml

# OS
.DS_Store
Thumbs.db
desktop.ini

# Логи
*.log
logs/
backend/logs/

# Секреты
.env
backend/config.local.php

# Зависимости
/vendor/
/node_modules/

# Сборка
/dist/
/build/

# Временные файлы
*.tmp
*.bak

.osp/
